{{ define "Show" }}
    <table border="1">
       <tbody>    
      <tr>    
        {{ range . }}  
        <td>{{ . }}</td> 
        {{ end }}       
      </tr>    
       </tbody>
    </table>
{{ end }}