{{ define "Index" }}
  <h2>New Name and City</h2> 
  <form method="POST" action="insert">
    <label> Enter URL </label><input type="text" name="name" /><br />      
    <input type="submit" value="Save user" />
  </form>
{{ end }}