{{ define "New" }}
  {{ template "Header" }}  
    <form method="POST" action="show">
      <label> Enter URL </label><input type="text" name="URL" /><br />
      <input type="submit" value="Enter" />
    </form>
  {{ template "Footer" }}
{{ end }}